@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 16px;
  color: #160647;
  font-family: "Circular std", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

footer,
section {
  margin: 0px 50px;
}

.section__header {
  margin: 0px auto;
  padding: 1em 0px;
  font-size: 3.5rem;
  max-width: 24ch;
}

.hero {
  background-image: url(../assets/img/background.jpg);
  background-size: cover;
}

.navbar {
  margin: 1rem auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 1px black;
}
.navbar__logo {
  font-size: 2rem;
}
.navbar__links {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.navbar__item {
  margin: 0px 10px;
  text-transform: capitalize;
  transition: color ease 0.2s;
  cursor: pointer;
}
.navbar__item:hover {
  color: #47beb9;
}
.navbar__item:active {
  font-weight: 600;
}
.navbar__wrap {
  display: flex;
  flex-basis: 80%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.navbar__btn {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.open-menu,
.close-menu {
  position: absolute;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.open-menu {
  top: 32px;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}

#check {
  display: none;
}

@media (max-width: 610px) {
  .navbar {
    margin: 1rem 40px;
  }
  .navbar__wrap, .navbar__links, .navbar__btn {
    cursor: pointer;
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbar__wrap .btn, .navbar__links .btn, .navbar__btn .btn {
    margin-top: 10px;
  }
  .navbar__links, .navbar__btn {
    width: 100%;
  }
  .navbar__item {
    text-align: center;
    padding: 1em 0px;
    width: 100%;
  }
  .navbar__item:hover {
    background-color: #ffffff;
  }
  .navbar__wrap {
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: #82dbcc;
    transition: all 0.2s ease-in-out;
  }
  .open-menu,
  .close-menu {
    display: block;
  }
  #check:checked ~ .navbar__wrap {
    right: 0;
  }
}
.btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.8em 1em;
  border-radius: 50px;
  margin: 0 auto;
  border: none;
  background-color: whitesmoke;
}
.btn--green {
  background-color: #47beb9;
  color: white;
  transition: background-color ease 0.3s;
}
.btn--green:hover {
  background-color: #56e0d9;
}
.btn img {
  margin-right: 5px;
}
.btn--blue {
  background-color: #160647;
  color: white;
}
.btn--blue:hover {
  background-color: #2a1669;
}

.hero {
  text-align: center;
  border-radius: 50px;
}
.hero__inner {
  padding: 4rem 0px;
}
.hero .heading {
  font-size: 4.5rem;
  padding: 2rem 0px;
}
.hero .heading-2 {
  font-size: 1.9rem;
  padding: 1.5rem 0px;
}
.hero .button__group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0px;
}
.hero .faded-text {
  color: #76838f;
  margin-bottom: 0;
}

.main {
  margin-top: 1em;
  background-color: #f8fcfb;
  border-radius: 2em;
}
.main__inner {
  padding: 2rem;
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  background-color: #ffffff;
  text-align: center;
  max-width: 250px;
  min-width: 180px;
  border: 2px solid #def7f0;
  border-radius: 2em;
  padding: 1.25em;
  transform-style: preserve-3d;
  transition: box-shadow 0.3s;
}
.card:hover {
  box-shadow: 0 14px 20px -10px #58ad9b;
}

.mid {
  text-align: center;
}
.mid .text-large {
  max-width: 30ch;
  margin: 0px auto;
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 0;
}
.mid .text-large b {
  font-size: inherit;
}

.footer {
  background-color: #f8fcfb;
  padding: 1rem 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px 20px 0px 0px;
}
.footer p {
  margin: 0px 10px;
  text-transform: capitalize;
  transition: color ease 0.2s;
}
.footer p:hover {
  color: #47beb9;
}

.social__links {
  display: flex;
}
.social__links .social__link {
  margin: 5px;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #58ad9b;
}

@media (max-width: 610px) {
  .footer {
    flex-direction: column;
    margin-top: 200px;
  }
  .btn {
    cursor: pointer;
    font-size: 10px;
  }
  section {
    margin: 0px 20px;
  }
}
.forgotPassword,
.login {
  display: grid;
  place-items: center;
  justify-content: center;
  height: 100vh;
  color: #ffffff;
}
.forgotPassword__inner,
.login__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #dcfaf2;
  padding: 4rem 2rem;
  border-radius: 10px;
}
.forgotPassword__inner .faded-text,
.login__inner .faded-text {
  color: #76838f;
  width: 33ch;
  text-align: center;
  margin: 10px 0px;
}

.login__header {
  font-size: 3rem;
  margin: 10px 0px;
}

.login__subHeader {
  text-align: center;
  margin: 10px 0px;
  width: 30ch;
}

.login__option {
  cursor: pointer;
  margin: 10px 0px;
  max-width: 300px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: #ffffff;
  text-align: center;
  padding: 10px 1rem;
  box-shadow: 1px 1px 10px rgb(116, 116, 116);
  border-radius: 5px;
}
.login__option:first-child {
  margin-right: 5px;
}
.login__option:last-child {
  margin-left: 5px;
}

.img {
  width: 24px;
  aspect-ratio: 1/1;
}

.clr--blue {
  cursor: pointer;
  color: #005c57;
  font-weight: 700;
}

.signin,
.signup {
  display: none;
  place-items: center;
  height: 85vh;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__btn {
  cursor: pointer;
  margin: 1rem 0px;
  padding: 0.6em 1em;
  background-color: #fff;
  outline: none;
  border: 1px solid #47beb9;
  font-weight: 600;
  border-radius: 5px;
  transition: all ease 0.3s;
}
.form__btn:hover {
  background-color: rgb(59, 255, 196);
  transform: scale(1.05);
}

.input {
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
}
.input input {
  font-size: 1rem;
  padding: 10px 1em;
  width: 100%;
  height: 100%;
  border: 2px solid #47beb9;
  border-radius: 5px;
  outline: none;
  background: transparent;
}
.input__label {
  position: absolute;
  top: 13px;
  left: 16px;
  text-transform: capitalize;
  transition: transform 0.5s;
}
.input input:not(:-moz-placeholder-shown) + .input__label {
  background-color: #dcfaf2;
  padding: 0px 3px;
  transform: translateY(-1.1em);
}
.input input:not(:placeholder-shown) + .input__label, .input input:focus + .input__label {
  background-color: #dcfaf2;
  padding: 0px 3px;
  transform: translateY(-1.1em);
}

input[type=password] {
  position: relative;
}

.showPassword {
  position: absolute;
  top: 30%;
  right: 5%;
}
.showPassword--close {
  display: none;
  position: absolute;
  top: 30%;
  right: 5%;
  pointer-events: none;
}

.btn-align {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.tools__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sentence__form {
  width: 100%;
}

.textarea {
  border-radius: 20px;
  width: 60%;
  aspect-ratio: 16/9;
  margin: 2em 0px;
  padding: 1em;
}

@media screen and (max-width: 610px) {
  .textarea {
    width: 80%;
  }
}
.breaked__sentence {
  margin: 0px auto;
  width: 80%;
  background-color: #76838f;
  padding: 0.2em 0.5em;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

.avatar__img {
  width: 2rem;
  background-image: url("../assets/img/defaultProfilePic.webp");
  background-size: cover;
  background-color: #160647;
  aspect-ratio: 1;
  border-radius: 35px;
  border: 1px solid white;
  outline: 2px solid #03b5d2;
}

.avatar {
  position: relative;
}

.avatar__menu {
  display: none;
  background-color: #fff;
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  list-style: none;
  margin-top: 0.8em;
  border-radius: 5px;
  left: 0px;
  padding: 1em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
}
.avatar__menu li {
  margin-bottom: 0.8em;
}

.open {
  display: block;
}

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid #03b5d2;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}
.accordion button .accordion-title {
  align-items: center;
  display: flex;
  padding: 1em 1.5em 1em 0;
  flex-basis: 90%;
  justify-content: space-between;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 40%;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion .title-wrapper {
  display: flex;
  align-items: center;
}
.accordion button[aria-expanded=true] {
  color: #03b5d2;
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: auto;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.scores {
  display: flex;
  text-align: center;
  color: white;
  border-radius: 10px;
  background-color: rgb(255, 62, 62);
  border: 1px solid red;
  padding: 0.4em 1.5em;
  margin: 10px;
  height: 2rem;
  align-self: center;
}

main {
  margin: 0px 20px;
}

.sentence__list {
  display: flex;
  flex-direction: column;
}
.sentence__list--item {
  margin: 10px 0px;
}

.main__score {
  margin-top: 1em;
  font-size: 2rem;
  text-align: center;
}

#suggestedForm .btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.options__grid {
  margin: 0px auto;
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
  gap: 1rem;
}

.score {
  color: white;
  padding: 0px 10px;
}

.score:last-child {
  border-left: 1px solid white;
}

.item {
  padding: 1em;
  border-radius: 5px;
  outline: 2px solid #03b5d2;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  width: 90%;
  margin: 1rem auto;
}/*# sourceMappingURL=main.css.map */